<div id="slide-1" class="container-fluid video-header">

   <div class="row body-1"  >

         
     
      <div class="videoWrapper" style="margin-top: -2%" >
          <!-- <div id="player"></div> -->
          
        <div id="tech-slideshow">
            <div id="tech-slideshow-2"></div>
            <div id="tech-slideshow-1"></div>

         </div>
            <div class="container">
              <div class="carousel-caption">
                  <h1 id="cap-text">Join A Feeding Near You Today!</h1>
                  <form class="form-wrapper cf" action="/search/?q=" method="get">
                  <input id="johnson-input" type="text" placeholder="Which City Are You From?" name="q">
                  <button id="johnson-btn" type="submit">Search</button>
                  </form>
              </div>
            </div>

            <p id="notice"><%= notice %></p>








      </div>
   </div>


      <div class="row body-2 hidden-md hidden-lg">

        <div class="col-12-xs">

           <div class="panel panel-default">
                  <div class="panel-body">
                       <h2>
                      Organizer could search feeders which is love to be a volunteer for your events
                    </h2>
                    <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a></p>
                  </div>
                </div>
          
        </div>
        <div class="col-12-xs">

            <div class="panel panel-default">
                  <div class="panel-body">

                  <h2>
                  Feeder could search organizer to join thier events.
                </h2>
                <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a></p>
                  </div>
                </div>
          
        </div>
        


      </div>

  
  
      <div class="row body-2 hidden-xs">

       
           <div class="col-md-6 body-2-left">
            <div class="row">
              <div class="col-md-6 body-2-left-1 text-center">

                <div class="panel panel-default">
                  <div class="panel-body">
                       <h2>
                      Organizer could search feeders which is love to be a volunteer for your events
                    </h2>
                    <a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a>
                  </div>
                </div>
               
              </div>
              <div class="col-md-6 body-2-left-2 text-center">
                <h2>For Organizer</h2>
                <a href=""><button id="btn-left" type="button" class="btn btn-success">Find feeders</button></a>

              </div>
            </div>
             
              
           </div>
       

           <div class="col-md-6 body-2-right">
             
              <div class="row">
              <div class="col-md-6 body-2-right-1 text-center">
              <h2>For Feeder</h2>
                <a href=""><button id="btn-right" type="button" class="btn btn-success">Find organizer</button></a>
                
              </div>
              <div class="col-md-6 body-2-right-2 text-center">

                <div class="panel panel-default">
                  <div class="panel-body">

                  <h2>
                  Feeder could search organizer to join thier events.
                </h2>
                <a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a>
                  </div>
                </div>
                
                  
              </div>
            </div>

           </div>
         
         
       </div>
    
  

    
      <div class="row body-3 text-center">
          <h1>Solving Hunger With Kindess</h1>

      </div>



      <div class="row body-4">

        <div class="col-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://youtu.be/qWZH0NcpN68"></iframe>
                  </div>
                </div>
                
            </div>

        </div>
        
        
      </div>
 </div> 




 



        