
<% unless notice.blank? %>
<div class="alert alert-success" style="z-index: 25; position: relative" role="alert" >
<p id="notice"><%= notice %></p>
</div>
<% end %>

<div id="slide-1" class="container-fluid video-header">



   <div class="row body-1"  >

         
     
      <div class="videoWrapper" style="margin-top: -2%" >
          <!-- <div id="player"></div> -->
          
        <div id="tech-slideshow">
            <div id="tech-slideshow-2"></div>
            <div id="tech-slideshow-1"></div>

         </div>
            <div class="container">
              <div class="carousel-caption">

                    
                  
                  
                  <form class="form-wrapper cf" action="/search/?q=" method="get">
                  <h1 id="cap-text">Join A Feeding Near You Today!</h1>
                  <input id="johnson-input" type="text" placeholder="Which City Are You From?" name="q">
                  <button id="johnson-btn" type="submit">Search</button>
                  </form>
              </div>
            </div>

           








      </div>
   </div>

<div class="row body-3 text-center">
  <div class="col-xs-12 body-3-text">
  <h1>Solving Hunger With Kindess</h1>

          <p>Every night, tons of food is being wasted while the poor and homeless struggle to get by. They could only go back to their street homes after 10pm simply because that is when the shops closed so they could go back to “roll out” their makeshift beds.</p>

          <p>Now, you can help these people by posting up a "Feeding Event" or "Food Collection Event" if you happen to have extra food or would like to organize a feeding session.</p>

          <p></p>
    

  </div>
          

      </div>


      <div class="row body-2 hidden-md hidden-lg">

        <div class="col-12-xs body-2-up">

           <div class="panel panel-default">
                  <div class="panel-body text-center">
                       <h2>
                      Post a feeding or food collection event
                    </h2>
                    <%if user_signed_in?%>

                      
                      <p class="text-center"><a href="<%=new_feeding_path%>"><button type="button" class="btn btn-join btn-info">POST NOW</button></a></p>
                    <%else%>

                      <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-join btn-info">POST NOW</button></a></p>


                    <%end%>
                    
                  </div>
                </div>
          

        </div>
        <div class="col-12-xs body-2-down">

            <div class="panel panel-default">
                  <div class="panel-body text-center">

                <h2>
                  Find events to take part in
                </h2>
                <%if user_signed_in?%>

                      
                      <p class="text-center"><a href="<%=feedings_path%>"><button type="button" class="btn btn-join btn-success">SEARCH NOW</button></a></p>
                    <%else%>

                      <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-join btn-success">SEARCH NOW</button></a></p>

                    <%end%>
                  </div>
                </div>
          
        </div>
        


      </div>

  
  
      <div class="row body-2 hidden-xs">

       
           <div class="col-md-6 body-2-left">
            <div class="row">
              <div class="col-md-6 body-2-left-1 text-center">

                <div class="panel panel-default">
                  <div class="panel-body">
                       <h2>
                      Post a feeding or food collection event
                    </h2>
                    <%if user_signed_in?%>

                      
                      <p class="text-center"><a href="<%=new_feeding_path%>"><button type="button" class="btn btn-success btn-join">SEARCH NOW</button></a></p>
                    <%else%>

                      <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a></p>


                    <%end%>
                  </div>
                </div>
               
              </div>
              <div class="col-md-6 body-2-left-2 text-center">
                <h2>Organizers</h2>
                <a href=""><button id="btn-left" type="button" class="btn btn-info">Post An Event</button></a>

              </div>
            </div>
             
              
           </div>
       

           <div class="col-md-6 body-2-right">
             
              <div class="row">
              <div class="col-md-6 body-2-right-1 text-center">
              <h2>Feeders</h2>
                <a href=""><button id="btn-right" type="button" class="btn btn-warning">Join A Feeding</button></a>
                
              </div>
              <div class="col-md-6 body-2-right-2 text-center">

                <div class="panel panel-default">
                  <div class="panel-body">

                <h2>
                  Find events to take part in
                </h2>
                <%if user_signed_in?%>

                      
                      <p class="text-center"><a href="<%=feedings_path%>"><button type="button" class="btn btn-success btn-join">SEARCH NOW</button></a></p>
                    <%else%>

                      <p class="text-center"><a href="<%=new_user_registration_path%>"><button type="button" class="btn btn-success btn-join">JOIN NOW</button></a></p>


                    <%end%>
                  </div>
                </div>
                
                  
              </div>
            </div>

           </div>
         
         
       </div>
    
  

    
      <div class="row middle-body">
        <div class="col-xs-12 mid-text text-center">
          <h1 style="color:black">YOU’LL REALIZE THAT THERE’S A WHOLE DIFFERENT WORLD OUT THERE</h1>
        </div>
      </div>


      <div class="row body-4">

        <div class="col-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="embed-responsive embed-responsive-16by9">
                    <div id="player"></div>
                  </div>
                </div>
                
            </div>

        </div>
        
        
      </div>
 </div> 






