<% unless notice.blank? %>
<div class="alert alert-success" style="margin-top: -1.55%" role="alert">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="container">
  <div class="jumbotron">
    <div class="jumbotron-user-page">
      <h1> Update Your Profile </h1>
      <p class="lead">Fill in the form below blablabla</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, class:"h4" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email, class:"h4" %><br />
    <%= f.email_field :email, autocomplete: "off" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :upload_profile_picture, class:"h4" %><br>
    <%= f.file_field :profile_pic %>
  </div>

  <div class="field">
    <%= f.label :password, class:"h4" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"h4" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-warning", style: "margin-top: 11px" %>
  </div>
<% end %>

<br><br><br><br><br><br>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

</div>
</div>
</div>