<%= form_for(@feeding) do |f| %>
  <% if @feeding.errors.any? %>
    <div id="error_explanation" class= "alert alert-danger" style="margin-top: -1.55%">
      <h2><%= pluralize(@feeding.errors.count, "error") %> prohibited this feeding from being saved:</h2>

      <ul>
      <% @feeding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "Event Name" %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time, placeholder: "Enter A Duration" %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_area :place, placeholder: "Address of Meeting Point" %>
  </div>

  <div class="field">
  
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">

    <%= f.hidden_field :longitude %>
  </div>
  <div class="field">
  
    <%= f.hidden_field :latitude %>
  </div>
  <div class="field">

    <%= f.hidden_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, placeholder: "Leave Blank If Free" %>

  </div>
  <div class="field">
    <%= f.label :feeding_pics %><br>
    <%= f.file_field :feeding_pics, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :pax_limit %><br>
    <%= f.number_field :pax_limit, placeholder: "Leave Blank If Unlimited" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
