<% unless notice.blank? %>
<div class="alert alert-success" style="margin-top: -1.55%" role="alert">
<p id="notice"><%= notice %></p>
</div>
<% end %>

<% if @user.profile_pic.blank? %>
<p><div class="lead" style="text-align: center;">User has no profile picture yet</div></p>
<% else %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<div class="fb-user">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="http://www.thenasilemakproject.com/wp-content/uploads/2015/09/Unknown2.jpeg" alt="Profile image example" style="height:300px; width: 100%"/>
    		<%= image_tag @user.profile_pic.url(:mid).to_s, class:"fb-image-profile thumbnail", align: "left"%>
      <div class="fb-profile-text">
        <h1><strong><%= @user.name %></strong></h1>
      </div>
  </div>
</div>

<% end %> <!-- end user profile pic blank -->

<div class="blankspace" style="min-height: 100px;">

<!-- LENA'S PART -->
<div class="container-fluid profilebody">
	<div class="row profile">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
		<section class="card">
		  <figure class="panel meta">
		  	<picture>
			<div class="img-thumbnail">
				<%= image_tag current_user.profile_pic.url(:thumb) %>
			</div>
		    </picture>
		    <figcaption>

		      <h1 class="name"><%=current_user.name%></h1>
		      <h3 class="title">		
		      	<%if @feeder_count < 2%>
					Baby Feeder
				<%elsif @feeder_count < 5 || @feeder_count >= 2%>
					Knight of Feeders
				<%elsif @feeder_count < 7 || @feeder_count >= 5%>
					Hero of Feeders
				<%else%>
					Legend of Feeders
				<%end%>,

				<%if @feeding_count < 2%>
					Baby Organizer
				<%elsif @feeding_count < 5 || @feeding_count >= 2%>
					Silver Organizer
				<%elsif @feeding_count < 7 || @feeding_count >= 5%>
					Super Organizer
				<%else%>
					Master Organizer
				<%end%>
				</h3>
		    </figcaption>
		  </figure>
		  
		  <div class="panel info">
		  	<div class = 'email'>
			  	<p><img src="https://cdn2.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/512/email.png" alt="Email Icon" style="width:20px;height:20px;">
				<%=current_user.email%></p>
		  	</div>

		  	<div class = 'feeder'>
			  	<dt><%=link_to "Feeder", user_feeders_path(current_user)%></dt>
			  	<dd>1</dd>
			  	<%if @feeder_count == 0%>
			  		<p>You have joined 0 feeding!</p>
			  	<%else%>
					<p>You have joined <%=pluralize(@feeder_count, 'feeding')%>!</p>
				<%end%>
		  	</div>

		  	<div class = 'feeding'>
		  	<dt><%=link_to "Feeding", user_feedings_path(current_user)%></dt>
		  	<dd>1</dd>
		  	<%if @feeding_count == 0%>
		  		<p>You have organized 0 feeding!</p>
			<%else%>
				<p>You have organized <%=pluralize(@feeding_count, 'feeding')%>!</p>
				<%end%>
		  	</div>
			
<!-- 		    <dl class="skillz">
		      <dt>Feeder</dt>
		      <dd>80</dd>
		      <dt>Feeding</dt>
		      <dd>60</dd>
		    </dl> -->
		  </div>
		  
		</section>
		</div>
		<div class="col-sm-4">
		</div>
	</div>

</div>
<!-- END LENA'S PART -->
</div>

<div class="container text-center">
  <div class="jumbotron" style="display:outline-block">
      <h2> Explore Our Site </h2><br>

<% if current_user.id == @user.id %>
<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-warning", style: "margin-bottom: 10px" %> |
<% end %>
<%= link_to 'Create New Feeding', new_feeding_path, class: "btn btn-success", style: "margin-bottom: 10px" %>
|
<%= link_to 'Your Feedings', user_feedings_path(current_user.id), class: "btn btn-danger", style: "margin-bottom: 10px" %>
|
<%= link_to 'All Feedings', feedings_path, class: "btn btn-info", style: "margin-bottom: 10px" %><br><br>
<%= link_to 'Back', root_path, class: "btn btn-primary" %><br>

</div>
</div>
