<%= form_for(@feeder) do |f| %>
  <% if @feeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeder.errors.count, "error") %> prohibited this feeder from being saved:</h2>

      <ul>
      <% @feeder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :feeding_id %><br>
    <%= f.number_field :feeding_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
