
<% unless notice.blank? %>
<div class="alert alert-success" style="margin-top: -1.55%" role="alert">
<p id="notice"><%= notice %></p>
</div>
<% end %>
        
        <div class="container-fluid">
        <div class="row">
      
         <div class="col-md-3">

        <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                    <%= image_tag @feeders.first.feeding.feeding_pics.last.url(:mid).to_s %>
                 </div>
                 <div class="user">
                     <%= image_tag @feeders.first.user.profile_pic.url(:small).to_s, class: "img-circle" %>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">Inna Corman</h3>
                         <p class="profession">Product Manager</p>

                         <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             Awesome
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h4 class="text-center">Job Description</h4>
                         <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                         <div class="stats-container">
                             <div class="stats">
                                 <h4>235</h4>
                                 <p>
                                     Followers
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>114</h4>
                                 <p>
                                     Following
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>35</h4>
                                 <p>
                                     Projects
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
     </div>



      
         <div class="col-md-3">

        <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                    <%= image_tag @feeders.first.feeding.feeding_pics.last.url(:mid).to_s %>
                 </div>
                 <div class="user">
                     <%= image_tag @feeders.first.user.profile_pic.url(:small).to_s, class: "img-circle" %>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">Inna Corman</h3>
                         <p class="profession">Product Manager</p>

                         <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             Awesome
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h4 class="text-center">Job Description</h4>
                         <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                         <div class="stats-container">
                             <div class="stats">
                                 <h4>235</h4>
                                 <p>
                                     Followers
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>114</h4>
                                 <p>
                                     Following
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>35</h4>
                                 <p>
                                     Projects
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
     </div>
 


    
         <div class="col-md-3">

        <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                    <%= image_tag @feeders.first.feeding.feeding_pics.last.url(:mid).to_s %>
                 </div>
                 <div class="user">
                     <%= image_tag @feeders.first.user.profile_pic.url(:small).to_s, class: "img-circle" %>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">Inna Corman</h3>
                         <p class="profession">Product Manager</p>

                         <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             Awesome
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h4 class="text-center">Job Description</h4>
                         <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                         <div class="stats-container">
                             <div class="stats">
                                 <h4>235</h4>
                                 <p>
                                     Followers
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>114</h4>
                                 <p>
                                     Following
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>35</h4>
                                 <p>
                                     Projects
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
     </div>


     
         <div class="col-md-3">

        <div class="card-container">
         <div class="card">
             <div class="front">
                 <div class="cover">
                    <%= image_tag @feeders.first.feeding.feeding_pics.last.url(:mid).to_s %>
                 </div>
                 <div class="user">
                     <%= image_tag @feeders.first.user.profile_pic.url(:small).to_s, class: "img-circle" %>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h3 class="name">Inna Corman</h3>
                         <p class="profession">Product Manager</p>

                         <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                     </div>
                     <div class="footer">
                         <div class="rating">
                             Awesome
                         </div>
                     </div>
                 </div>
             </div> <!-- end front panel -->
             <div class="back">
                 <div class="header">
                     <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                 </div>
                 <div class="content">
                     <div class="main">
                         <h4 class="text-center">Job Description</h4>
                         <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                         <div class="stats-container">
                             <div class="stats">
                                 <h4>235</h4>
                                 <p>
                                     Followers
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>114</h4>
                                 <p>
                                     Following
                                 </p>
                             </div>
                             <div class="stats">
                                 <h4>35</h4>
                                 <p>
                                     Projects
                                 </p>
                             </div>
                         </div>

                     </div>
                 </div>
                 <div class="footer">
                     <div class="social-links text-center">
                         <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                         <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                     </div>
                 </div>
             </div> <!-- end back panel -->
         </div> <!-- end card -->
     </div> <!-- end card-container -->
     </div>
  


     </div>
     </div>

<h1>Listing Feeders</h1>
<%= will_paginate @feeders %>

<table>
  <thead>
    <tr>
      <th>Feeding</th>
      <th>Place</th>
      <th>Time</th>
      <th>Price</th>
      <th>Posted By</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeders.each do |feeder| %>
      <tr>
        <td><%= link_to "#{feeder.feeding.name}", feeding_path(feeder.feeding.id) %></td>
        <td><%= feeder.feeding.place %></td>
        <td><%= feeder.feeding.time %></td>
        <td><%= feeder.feeding.price.to_s %></td>
        <% if feeder.feeding.user.name.blank? %>
        <td><%= feeder.feeding.user.email %></td>
        <% else %>
        <td><%= feeder.feeding.user.name %></td>
        <% end %>

 <% @feeder_feeding = Feeding.find(feeder.feeding.id) %>

  <% if feeder.feeding.pax_limit.nil? %>

        <% if feeder.feeding.price.nil? || feeder.feeding.price == 0 %>
        <td class="lead" style="text-align: center"><span class="label label-success"> JOINED </span></td>
        <% else %>

        <% if feeder.payments.where(status: :authorized).blank? %>
        <td style="text-align: center"><%= link_to '<button class="btn btn-danger" type="button">Pay Now</button>'.html_safe , feeding_feeders_path(feeder.feeding.id), method: :post, data:  {no_turbolink: true} %> </td>
        <% else %>
        <td class="lead" style="text-align: center"><span class="label label-success"> PAID </span></td>
        <% end %>

        <% end %> 


  <% elsif @feeder_feeding.feeders.where(paystatus: :authorized).count >= feeder.feeding.pax_limit %>
        <td class="lead" style="text-align: center"><span class="label label-danger"> FULL </span></td>
  <% else %>

         <% if feeder.feeding.price.nil? || feeder.feeding.price == 0 %>
        <td class="lead" style="text-align: center"><span class="label label-success"> JOINED </span></td>
        <% else %>

        <% if feeder.payments.where(status: :authorized).blank? %>
        <td style="text-align: center"><%= link_to '<button class="btn btn-danger" type="button">Pay Now</button>'.html_safe , feeding_feeders_path(feeder.feeding.id), method: :post, data:  {no_turbolink: true} %> </td>
        <% else %>
        <td class="lead" style="text-align: center"><span class="label label-success"> PAID </span></td>
        <% end %>

        <% end %> 
   <% end %>




        <td><%= link_to 'Edit', edit_user_feeder_path(current_user.id, feeder.id) %></td>
        <td><%= link_to 'Destroy', user_feeder_path(current_user.id, feeder.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>

