<!DOCTYPE html>
<html>
<head>
  <title>Kfeedapp</title>
<meta property="og:url" content="https://kfeed.herokuapp.com/" />
<meta property="og:url" content="http://kfeed.herokuapp.com/" />
<meta property="og:type" content="article" />
<meta property="og:title" content="KFeed - Solving Hunger With Kindness" />
<meta property="og:description" content="A platform that matches people with extra food with those who need it" />
<meta property="og:image" content="http://wowwwz.com/wp-content/uploads/2016/04/bbnbhomepic44.jpg" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= include_gon %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <%= csrf_meta_tags %>

</head>

<body>

  <%= render 'layouts/navbar' %>

  <%= yield %>


  <!-- Latest compiled and minified JavaScript -->
  <!-- JavaScript should be bottom of the page -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


  <!-- Braintree payment system -->
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<!-- BEGIN .footer -->
<div class="footer">

  <!-- BEGIN .row -->
  <div class="row">

    <!-- BEGIN .content -->
    <div class="content">

    <!-- BEGIN .footer-widgets -->
    <div class="footer-widgets">

      <div id="text-2" class="widget widget_text" style="
    text-align: center;"><div class="footer-widget"><h6>A Team KFeed Production</h6>     
    </div></div>
    <!-- END .footer-widgets -->
    </div>
    </div>
  <!-- END .row -->
  </div>
  <!-- BEGIN .footer-information -->
  <div class="footer-information">

    <!-- BEGIN .footer-content -->
    <div class="footer-content">

      <div class="align-left">
        <p style="color: #999">Copyright &copy; 2016 &middot; All Rights Reserved &middot; KFeed Global Inc</p>
        <p style="color: #999"><a href="http://www.johnsonkhoo.com/" target="_blank">Produced</a> by <a href="http://www.johnsonkhoo.com/" target="_blank">KFeed Global Inc</a> &middot; <a href="http://johnsonkhoo.com/" target="_blank" title="Amazing Hosting">Dragon Slayer Hosting</a> &middot; <a href="http://johnsonkhoo.com/">Special Thanks To</a> &middot; <a href="http://johnsonkhoo.com/"> Yazed Jamal | Danial Zainul | New Jone Wee | Lena Fong | Johnson Khoo | Next Academy </a></p>
      </div>

      <div class="align-right">

      </div>
    <!-- END .footer-content -->
    </div>
  <!-- END .footer-information -->
  </div>
<!-- END .footer -->
</div>
  </footer>

</body>
</html>